@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.form-page {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(29, 41, 81, 0.5), rgba(29, 41, 81, 0.1));
}

.login-form {
  width: 60%;
  margin-inline: auto;
}

.close-btn, .logout-btn {
  color: #1D2951;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.close-btn:hover, .logout-btn:hover {
  transform: scale(0.9);
}

.view-profile-photo {
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1;
}

.client-card h3 {
  color: #1D2951;
}
.client-card p {
  opacity: 0.8;
}

.contact {
  height: 2rem;
  background-color: #1D2951;
  color: #F0FFFF;
  font-size: 1rem;
}

header {
  position: relative;
  z-index: 5;
}

.home {
  background-image: url("./images/Hero_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 3;
}

.hero {
  text-align: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(29, 41, 81, 0.5);
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}
.hero-content h3 {
  font-size: 1.5rem;
}
.hero-content p {
  font-size: 1rem;
  line-height: 1;
}

h1 {
  width: 60%;
}

.hero-text {
  width: 40%;
  font-size: 1rem;
}

.service {
  background-color: #1D2951;
  padding: 1rem;
  border-top: 0.5rem solid #795C34;
}

@media screen and (max-width: 768px) {
  .home {
    height: max-content;
  }
  .hero {
    margin-top: 20vh;
  }
  h1 {
    width: 80%;
  }
  .hero-text {
    width: 60%;
  }
  .services {
    display: block !important;
    margin-inline: 5% !important;
  }
  .service {
    margin-bottom: 1rem;
  }
}
.dashboard-page {
  position: relative;
  z-index: 2;
  height: max-content;
  background: linear-gradient(to bottom, rgba(29, 41, 81, 0.5), rgba(29, 41, 81, 0.1));
}

.client-dashboard h2 {
  color: #1D2951;
}
.client-dashboard .card-subtitle {
  font-size: 0.95rem;
  opacity: 0.8;
}

.photo {
  width: 9rem;
  aspect-ratio: 1;
  overflow-y: hidden;
}

.lawyer-card {
  position: relative;
  z-index: -1;
}

.card-overlay {
  width: 40%;
  height: 70vh;
  overflow-x: hidden;
  min-width: 20rem;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  color: gray;
  left: 25%;
  top: 20vh;
  box-shadow: 3px 3px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 15px -4px rgba(0, 0, 0, 0.75);
}

.show-profile-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  background-color: rgba(29, 41, 81, 0.5);
  z-index: 5;
}

.reviewer-photo {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.scrollbar {
  position: relative;
  z-index: 15;
  overflow-x: hidden !important;
}

.side-panel {
  height: 90vh;
  position: fixed;
}

.right {
  width: 75%;
  margin-left: 25%;
}

.hover-cursor {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card-overlay {
    width: 80%;
    left: 10%;
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}